
body {

    background-color: #000000;
    opacity: 1;
    background-image:  radial-gradient(#00b649 1.1px, transparent 1.1px), radial-gradient(#00b649 1.1px, #000000 1.1px);
    background-size: 44px 44px;
    background-position: 0 0,22px 22px;
    background-repeat: ease infinite;


}

body {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
}


.h1 {

color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 16px;
    font-size: 16px;
    
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);

}



.container {
  display: grid;
  place-content: center;
}

.photogallery{flex-direction: column;}

.row{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;}

.photogallery{
    flex: 25%;
    padding: 5px;
    justify-content: center;
    margin-left: 5%;

}